@model List<SubsectionDto>
<div class="col-lg-4 col-md-4 col-sm-12">
    @foreach (var item in Model)
    {
        <div class="col-12 border-bottom py-12 px-1 text-16"><a href="#" class="link active-link">@item.Title</a></div>
    }
        
</div>