<nav class="navbar navbar-expand-lg px-0">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item pt-3 pb-3">
                <a class="navbar-brand" asp-action="HomeIndex" asp-controller="Home"><img src="~/images/logo-main.svg" /> </a>
            </li>
            <li class="nav-item pt-4 pb-3">
                <a class="navbar-brand pr-5" href="#"><img src="~/images/salym.svg" /></a>
            </li>
        </ul>
        <ul class="navbar-nav mr-0 mt-2 mt-lg-0 ml-4">
            <li class="nav-item pt-3 pb-3  ">
                <a class="navbar-brand" href="#"><h6 class="p-0"><b>О нас</b></h6></a>
            </li>
            <li class="nav-item pt-3 pb-3 ">
                <a class="navbar-brand" asp-action="Index" asp-controller="InfoStorage"><h6><b>База знаний</b></h6></a>
            </li>
            <li class="nav-item pt-3 pb-3 ">
                <a class="navbar-brand" asp-action="Index" asp-controller="Report"><h6><b>Формы отчетности</b></h6></a>
            </li>
            <li class="nav-item pt-3 pb-3  ">
                <a class="navbar-brand" asp-action="PressCenter" asp-controller="news"><h6><b>Пресс-центр</b></h6></a>
            </li>
            <li class="nav-item pt-3 pb-3 ">
                <a class="navbar-brand" asp-action="Contacts" asp-controller="Home" ><h6><b>Контакты</b></h6></a>
            </li>
        </ul>
    </div>
</nav>