@{
    ViewData["Title"] = "getpersonalaccount";
}

<div class="mt-5" style=" display: grid; justify-content:center; ">

    <img src="/images/44.png" style="width: 80vh;" />

</div>

<div class="mt-5 mb-5" style=" display: grid; justify-content:center; ">

    <img src="/images/44-2.png" style="width: 80vh;" />

</div>

