@{
    ViewData["Title"] = "HowToAccess";
}
<div style="display: grid; justify-content: center;">
    <img style="width: 80vh; margin: 5vh 0vh 5vh 0vh;" src="~/images/33.png" />
</div>

<div style="display: grid; justify-content: center;">
    <img style="width: 80vh; margin: 5vh 0vh 5vh 0vh;" src="~/images/33-2.png" />
</div>

<div style="display: grid; justify-content: center;">
    <img style="width: 80vh; margin: 5vh 0vh 5vh 0vh;" src="~/images/33-3.png" />
</div>

<div style="display: grid; justify-content: center;">
    <img style="width: 80vh; margin: 5vh 0vh 5vh 0vh;" src="~/images/33-4.png" />
</div>

<div style="display: grid; justify-content: center;">
    <img style="width: 80vh; margin: 5vh 0vh 5vh 0vh;" src="~/images/33-5.png" />
</div>
