<div style="display:grid; justify-content:center;">
    <img class="guide"  src="~/images/11.png" />
    <img class="guide" src="~/images/11-2.png" />
</div>
<style>
.guide{  
    width: 80vh;
    margin: 5vh 0vh 5vh 0vh;
}
</style>