@{
    ViewData["Title"] = "LegalEntity";
}

<div style="display: grid; justify-content: center;">
    <img style="width: 80vh; margin: 5vh 0vh 5vh 0vh;" src="/images/55.png" />
</div>

<div style="display: grid; justify-content: center;">
    <img style="width: 80vh; margin: 5vh 0vh 5vh 0vh;" src="/images/55-2.png" />
</div>