@{
    ViewData["Title"] = "registerindividual";
}

<div class="mt-5" style=" display: grid; justify-content:center; ">
      <img src="/images/66.png" style="width: 80vh;" />
</div>

<div class="mt-5 mb-5" style=" display: grid; justify-content:center; ">
    <img src="/images/66-2.png" style="width: 80vh;" />
</div>