<div class="mt-2 mb-5">
    <div class="col-md-12" style="height: 37em;">
        <div class="wip mt-5 mb-5 text-center">
            <h3>
                В Единых окнах территориальных УГНС установлены ящик для жалоб и
                предложений, а также книга для жалоб и предложений, где можно оставить отзыв по
                результатам полученной услуги, свои замечания и предложения по улучшению работы
                налоговой службы.
        </div>
    </div>
</div>       