<div class="mt-2 mb-5">
    <div class="col-md-12" style="height: 37em;">
        <div class="wip mt-5 mb-5 text-center">
            <h3>
                Уважаемый налогоплательщик! Для оперативного направления Вашего обращения необходимо перейти на следующую ссылку: <a href="https://www.sti.gov.kg/e-mail">Ссылка</a>
            </h3>
        </div>
    </div>
</div>   