@{
    ViewData["Title"] = "Ошибка";
}

<div class="error-block my-5" >
    <img src="~/images/404.png" alt="Страница не найдена" />
    <a  class="btn home-button" asp-action="HomeIndex"><p class="p-0 m-0">Перейти на главную страницу</p></a>
</div>