<div class="mt-2 mb-5">
    <div class="col-md-12" style="height: 37em;">
        <div class="wip mt-5 mb-5 text-center">
            <h3>
                Председатель - Время приема граждан: среда, с 15-00 до 17-00
                <br />
                Запись на прием: тел. 0312 61-28-86
                <br />
                Заместитель председателя - Время приема граждан: вторник, с 14-00 до 17-00
                <br />
                Запись на прием: тел. 0312 61-28-86
                <br />
                Заместитель председателя - Время приема граждан: четверг, с 15-00 до 17-00
                <br />
                Запись на прием: тел. 0312 61-46-14
                <br />
                Заместитель председателя - Время приема граждан: четверг, с 15-00 до 17-00
                <br />
                Запись на прием: тел. 0312 61-46-14
                <br />
                Заместитель председателя - Время приема граждан: пятница, с 15-00 до 17-00
                <br />
                Запись на прием: тел. 0312 61-51-68
               
            </h3>
        </div>
    </div>
</div>       