
<img src="/images/smartsalym.png" class="img-fluid" alt="smart salym" />
<div class="row">
    <div class="col-md-12 mb-3">
        <h1 class="display-4 text-warning t-font-boldest mb-3 text-center">ФИСКАЛИЗАЦИЯ НАЛОГОВЫХ ПРОЦЕДУР – «СМАРТ САЛЫМ»</h1>
        <div class="clearfix">
            <img class="img-fluid float-left mr-3 mb-3" src="/images/smart-salym-fiscal.png" alt="ФИСКАЛИЗАЦИЯ НАЛОГОВЫХ ПРОЦЕДУР – «СМАРТ САЛЫМ»" />
            <p class="text-justify text-18" style="color: #31859b;">
                Фискализация налоговых процедур «СМАРТ Салым» в Кыргызской Республике –  один из этапов в реализации концепции цифровой трансформации «Санарип Кыргызстан 2019-2023». <br />

                Она включает в себя ряд компонентов: электронный счет-фактура, автоматизированная система управления АЗС, электронные товарно-транспортные накладные (ЭТТН), программные ККМ-онлайн, маркировка товаров, а также усовершенствование других налоговых услуг.<br />

                «СМАРТ Салым» объединяет все направления фискализации, реализуемые на данный момент в налоговой сфере. Это новый подход к налогообложению, который предполагает поступление каждого сома налогов в бюджет республики и рациональное использование средств во благо страны. Это есть вклад (Салым) в будущее Кыргызстана.<br />

                СМАРТ Салым – Санариптүү (цифровой), Маанилүү (значимый), Адилеттүү (справедливый), Рационалдуу (рациональный), Таза (прозрачный) Салым.<br />

                Реализация проекта фискализации позволит оптимизировать сервисное обслуживание ГНС, качественно защищать интересы налогоплательщиков, обеспечить доступ к современным цифровым возможностям в соответствии с мировыми тенденциями.<br />
            </p>
        </div>
        <div class="text-center my-3">
            <div class="video-container mb-3">
                <iframe src="https://www.youtube.com/embed/KtyvZ0hnLuk" title="СМАРТ Салым – это умный вклад в будущее страны!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <img class="img-fluid" src="/images/smart-salym-separator.jpg" />
        </div>
    </div>
    <div class="col-md-12 mb-3">
        <h1 class="display-4 text-warning t-font-boldest mb-3 text-center">АСУ АЗС</h1>
        <div class="clearfix">
            <img class="img-fluid float-left mr-3 mb-3" src="/images/smart-salym-azs.png" alt="АСУ АЗС" />
            <p class="text-justify text-18" style="color: #31859b;">
                С 1 июля 2020 г. автозаправочные станции, в том числе автомобильные газозаправочные и газонаполнительные компрессорные станции, перешли на автоматизированную систему управления. <br />

                Одно из важных преимуществ, ожидаемых от АСУ АЗС – прозрачность рынка нефтепродуктов. <br />

                АСУ интегрирована с ККМ-онлайн для того, чтобы заправка топлива клиенту была возможна только после факта оплаты и выхода кассового чека, так как не сработает сигнал о выдаче нефтепродукта на топливораздаточной колонке АЗС. <br />

                АСУ АЗС – надежный заслон против теневого оборота нефтепродуктов в обход налогового учета и увеличение налоговых поступлений в бюджет КР. <br />

                По состоянию на 1 декабря 2021 года автоматизированная система управления установлена во всех действующих 999 АЗС. <br />
            </p>
        </div>
        <div class="text-center my-3">
            <img class="img-fluid" src="/images/smart-salym-separator.jpg" />
        </div>
    </div>
    <div class="col-md-12 mb-3">
        <h1 class="display-4 text-warning t-font-boldest mb-3 text-center">ЭЛЕКТРОННАЯ СЧЕТ-ФАКТУРА</h1>
        <div class="clearfix">
            <img class="img-fluid float-left mr-3 mb-3" src="/images/smart-salym-esf.jpg" alt="ЭЛЕКТРОННАЯ СЧЕТ-ФАКТУРА" />
            <p class="text-justify text-18" style="color: #31859b;">
                С 1 июля 2020 г. плательщики НДС, импортеры и экспортеры товаров перешли на обязательное применение электронных счетов-фактур (ЭСФ).<br />

                ЭСФ по сравнению с бумажным документом имеет ряд преимуществ:<br />

                - юридическая значимость. Каждый счет-фактура подписывается электронной подписью;<br />

                - защита информации. Работа в системе осуществляется по защищенным каналам, с использованием средств криптографической защиты;<br />

                - доступность. Система ЭСФ функционирует в режиме 24/7;<br />

                - простота использования и снижение количества ошибок, допускаемых при составлении счетов-фактур;<br />

                - быстрая доставка счета контрагенту, не покидая систему ЭСФ, если адресат также пользуется данной системой.<br />

                По состоянию на 1 декабря 2021 года ЭСФ пользуются 16 тыс. 40 предпринимателей.<br />
            </p>
        </div>
        <div class="text-center my-3">
            <img class="img-fluid" src="/images/smart-salym-separator.jpg" />
        </div>
    </div>
    <div class="col-md-12 mb-3">
        <h1 class="display-4 text-warning t-font-boldest mb-3 text-center">ЭТТН</h1>
        <div class="clearfix">
            <img class="img-fluid float-left mr-3 mb-3" src="/images/smart-salym-ettn.png" alt="ЭТТН" />
            <p class="text-justify text-18" style="color: #31859b;">
                С 1 июля 2020 г. субъекты предпринимательства, занимающиеся добычей, производством, импортом и реализацией нефти и нефтепродуктов, при отгрузках обязаны оформлять через информационную систему ГНС электронную товаротранспортную накладную (ЭТТН) для отгрузки нефтепродуктов по технологической цепочке.<br />

                Данный электронный документ содержит сведения о нефти и нефтепродукте, отправителе, получателе и транспортном средстве, осуществляющем доставку, и иные сведения.
            </p>
        </div>
        <div class="text-center my-3">
            <img class="img-fluid" src="/images/smart-salym-separator.jpg" />
        </div>
    </div>
    <div class="col-md-12 mb-3">
        <h1 class="display-4 text-warning t-font-boldest mb-3 text-center">ККМ-ОНЛАЙН</h1>
        <div class="clearfix">
            <img class="img-fluid float-left mr-3 mb-3" src="/images/smart-salym-kkm.png" alt="ККМ-ОНЛАЙН" />
            <p class="text-justify text-18" style="color: #31859b;">
                ГНС внедряет программные контрольно-кассовые машины онлайн, которые будут доступны всем представителям бизнеса и обходиться значительно дешевле по сравнению с действующими ККМ. Для мониторинга розничного товарооборота в онлайн режиме приняты новые стандарты и требования по применению ККМ.<br />

                Программные ККМ имеют ряд преимуществ, позволяющих внедрить новые стандарты и технологии для учета розничных продаж, упростить технические и административные требования по применению новых моделей ККМ, устранить монополию на рынке ККМ, усилить безопасность и повысить качество передаваемой фискальной информации.
            </p>
        </div>
        <div class="text-center my-3">
            <img class="img-fluid" src="/images/smart-salym-separator.jpg" />
        </div>
    </div>
    <div class="col-md-12 mb-3">
        <h1 class="display-4 text-warning t-font-boldest mb-3 text-center">МАРКИРОВКА ТОВАРОВ</h1>
        <div class="clearfix">
            <img class="img-fluid float-left mr-3 mb-3" src="/images/smart-salym-mark-code.png" alt="МАРКИРОВКА ТОВАРОВ" />
            <p class="text-justify text-18" style="color: #31859b;">
                С 1 июля 2021 года в рамках проекта «СМАРТ Салым» и борьбы с контрафактом введена обязательная маркировка табачной и алкогольной продукции.<br />


                Обязательной маркировке подлежат водка, ликероводочные изделия, крепленые напитки, крепленые соки и бальзамы, вина, коньяки (кроме коньячного спирта), вина игристые (включая шампанское), слабоалкогольные напитки, сигареты (с фильтром, без фильтра) и изделия с нагреваемым табаком (нагреваемая табачная палочка, нагреваемая капсула с табаком).<br />

                Маркировка товаров представляет собой уникальную последовательность символов в машиночитаемой форме, представленную в виде штрихового или дата-матрикс кода, содержащего информацию об индикаторе каждой единицы товара.<br />

                Это поможет отследить весь путь товара от изготовителя до конечного потребителя, создаст условия для развития отечественного бизнеса, защитит население от некачественных товаров, а также обеспечит беспрепятственную поставку маркированных товаров в страны-члены ЕАЭС.<br />

                А с 1 января 2022 года вводится запрет на оборот немаркированной алкогольной и табачной продукции на территории страны. <br />
            </p>
        </div>
        <div class="text-center my-3">
            <div class="video-container mb-3">
                <iframe src="https://www.youtube.com/embed/3RCaUhJLSAY" title="Маркировка товаров – защита от некачественной продукции" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <img class="img-fluid" src="/images/smart-salym-separator.jpg" />
        </div>
    </div>
    <div class="col-md-12 mb-3">
        <h1 class="display-4 text-warning t-font-boldest mb-3 text-center">ЛИЧНЫЙ КАБИНЕТ SALYK.KG</h1>
        <div class="clearfix">
            <img class="img-fluid float-left mr-3 mb-3" src="/images/smart-salym-cabinet.png" alt="ЛИЧНЫЙ КАБИНЕТ SALYK.KG" />
            <p class="text-justify text-18" style="color: #31859b;">
                «Личный кабинет налогоплательщика» позволяет гражданам бесплатно пользоваться налоговыми услугами онлайн. <br />

                Эта услуга удобна для налогоплательщиков, т.к. она сокращает время и позволяет онлайн сдать отчетность, в том числе налоговую декларацию, уплачивать налоги, за патент и страховой полис, подать заявление, получать справки, переписываться с ГНС, а также пользоваться другими онлайн услугами ГНС. <br />

                С 1 июля 2019 года работает электронная услуга по сдаче налоговой отчетности для всех налогоплательщиков с помощью электронной цифровой подписи (далее-ЭЦП), которая позволила сократить контакт налогоплательщиков и налоговых органов. <br />

                По состоянию на 1 декабря 2021 года электронным сервисом «Кабинет налогоплательщика» Salyk.kg пользуются 363 тыс. 647 налогоплательщиков. Кроме этого, 26 тыс. 608 налогоплательщиков представляют налоговый отчет с использованием электронной цифровой подписи. <br />
            </p>
        </div>
        <div class="text-center my-3">
            <div class="video-container mb-3">
            <iframe src="https://www.youtube.com/embed/ZE8cClc3yuc" title="Получите налоговые услуги онлайн через личный кабинет Salyk.kg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            </div>
            <img class="img-fluid" src="/images/smart-salym-separator.jpg" />
        </div>
    </div>
    <div class="col-md-12 mb-3">
        <h1 class="display-4 text-warning t-font-boldest mb-3 text-center">ЭЛЕКТРОННЫЙ ПАТЕНТ И СТРАХОВОЙ ПОЛИС</h1>
        <div class="clearfix">
            <img class="img-fluid float-left mr-3 mb-3" src="/images/smart-salym-patent.png" alt="ЭЛЕКТРОННЫЙ ПАТЕНТ И СТРАХОВОЙ ПОЛИС" />
            <p class="text-justify text-18" style="color: #31859b;">
                В настоящее время патент на осуществление экономической деятельности и страховой полис можно приобрести одним документом как в бумажном варианте, так и в электронном виде. <br />

                Для того, чтобы приобрести документ онлайн, можно воспользоваться электронным сервисом «Э-патент» epatent.gov.kg. Оплату при этом можно произвести безналично, с помощью различных электронных кошельков, карт, терминалов или онлайн-банкинга. <br />
            </p>
        </div>

        <div class="text-center my-3">
            <div class="video-container mb-3">
                <iframe src="https://www.youtube.com/embed/SPF7ej13mCc" title="Получите патент и страховой полис онлайн одним документом" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <img class="img-fluid" src="/images/smart-salym-separator.jpg" />
        </div>
    </div>
    <div class="col-md-12 mb-3">
        <h1 class="display-4 text-warning t-font-boldest mb-3 text-center">Сводный пост</h1>
        <div class="clearfix">
            <img class="img-fluid float-left mr-3 mb-3" src="/images/smart-salym-sv.png" alt="Сводный пост" />
            <p class="text-justify text-18" style="color: #31859b;">
                С января 2021 года на пунктах учета товаров используется информационная система «Сводный пост» при учете товаров, ввозимых на территорию Кыргызской Республики из стран – членов ЕАЭС.  <br />

                Благодаря работе системы «Сводный пост» импортеры, ввозящие товары из стран – членов ЕАЭС, оформляют сопроводительные накладные в онлайн формате независимо от того, где они находятся, а также получают справки с налогового органа на ввоз товара посредством «личного кабинета» на сайте ГНС. <br />

                Система «Сводный пост» является одним из компонентов проекта фискализации налоговых процедур «СМАРТ Салым» и создана с целью автоматизации процедур учета товаров в рамках торговли с государствами-членами ЕАЭС, а также борьбы с незаконным перемещением товаров. <br />
            </p>
        </div>
        <div class="text-center my-3">
            <img class="img-fluid" src="/images/smart-salym-separator.jpg" />
        </div>
    </div>
</div>